<link rel="stylesheet" href="../public/css/screen.css">{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="columns is-centered">
        <div class="column">
            <!-- Content -->
            <div class="columns">
                <div class="column" style="text-align: center">
                    <h1>PARTS</h1>
                    <a href="/addPart" style="margin: 10px;" class="button is-info">Create</a>
                    <a href="/updatePart" style="margin: 10px;" class="button is-warning">Update</a>
                    <a href="/deletePart" style="margin: 10px;" class="button is-danger">Delete</a>
                    <table id="table" class="table is-bordered is-striped is-hoverable">
                        <thead style="background-color: cornflowerblue">
                        <tr>
                            <th>#</th>
                            <th>Naziv dela</th>
                            <th>Za model</th>
                            <th>Godine</th>
                            <th>Tip</th>
                            <th>Opis</th>
                            <th>Cena</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for part in parts %}
                        <tr>
                            <td>{{part.idpart}}</td>
                            <td>{{part.name}}</td>
                            <td>{{part.modelname}}</td>
                            <td>{{part.from_year}} - {{part.to_year}}</td>
                            <td>{{part.typename}}</td>
                            <td>{{part.description}}</td>
                            <td>{{part.price}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}