{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            <h1>PARTS</h1>
            <table id="table" class="table is-bordered is-striped is-hoverable">
                <thead style="background-color: cornflowerblue">
                <tr>
                    <th>#</th>
                    <th>Part Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Cart</th>
                </tr>
                </thead>
                <tbody>
                {% for part in parts %}
                <tr>
                    <td>{{part.id}}</td>
                    <td>{{part.name}}</td>
                    <td>{{part.description}}</td>
                    <td>{{part.price}}</td>
                    <td>{{type.name}}</td>
                    <td>{{part.price}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}